<proset-sidebar-filter (onFilterForm)="onFilterForm($event)">
  <ng-container header *ngTemplateOutlet="filterTemplate"></ng-container>
  <ng-container topFooter *ngTemplateOutlet="buttonTemplate"></ng-container>
</proset-sidebar-filter>

<div class="row" *ngIf="listViewType != LIST_VIEW_TYPE.TABLE">
  <div class="col-md-6 d-flex align-items-center">
    <div class="d-flex align-items-center gap-2">
      <a
        type="button"
        (click)="kanbanBoard.onConfigClick()"
        *ngIf="listViewType != LIST_VIEW_TYPE.CALENDAR"
        class="more-btn"
      >
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </a>
      <span
        class="separator"
        *ngIf="listViewType != LIST_VIEW_TYPE.CALENDAR"
      ></span>
      <button class="new-button px-2" (click)="goNewWorkOrder()">
        <div class="d-flex">
          <span>{{ "GENERAL.NEW" | translate }}</span>
        </div>
      </button>
      <span class="separator"></span>
      <a
        type="button"
        class="position-relative"
        (click)="[onFilter(), $event.stopPropagation()]"
      >
        <span class="badge-filter text-center" *ngIf="filterNumber">
          {{ filterNumber }}</span
        >
        <img src="/assets/img/filter.png" />
      </a>
    </div>
  </div>
  <div class="col-6">
    <ng-container *ngTemplateOutlet="switchBottons"></ng-container>
  </div>
</div>
<hr *ngIf="listViewType != LIST_VIEW_TYPE.TABLE" />
<div [ngSwitch]="listViewType">
  <div *ngSwitchCase="LIST_VIEW_TYPE.KANBAN">
    <div class="row">
      <div class="col-md-12">
        <kanban-board
          [columns]="kanbanColumns"
          [tasks]="workOrderTasks"
          [cardActions]="workOrderTasksActions"
          #kanbanBoard
        >
        </kanban-board>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="LIST_VIEW_TYPE.CALENDAR">
    <div class="row mt-4">
      <div class="col-md-12">
        <proset-event-calendar
          [calendarEventsData]="calendarEvents"
          (onEventClick)="onCalendarEventClick($event)"
        ></proset-event-calendar>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="LIST_VIEW_TYPE.TABLE">
    <div class="mt-3">
      <app-datatable
        id="workOrderDataTable"
        [filterNumber]="filterNumber"
        [limit]="30"
        [config]="config"
        [scrollbarH]="true"
        [tableRow]="workOrderList"
        [newWindowUrl]="'/maintenance/maintenance/work-order/form'"
        [showIndex]="true"
        [scrollbarV]="false"
        [viewOnly]="true"
        (onDoubleClickRow)="onDoubleClick($event)"
        [singleRowClick]="false"
        [showToolbar]="listViewType == LIST_VIEW_TYPE.TABLE"
        [actionTemplate]="switchBottonsCondition"
        [newEntryPermission]="[permission.WORK_ORDER_CREATE]"
      ></app-datatable>
    </div>
  </div>
</div>

<ng-template #switchBottonsCondition>
  <ng-container *ngIf="listViewType == LIST_VIEW_TYPE.TABLE">
    <ng-container *ngTemplateOutlet="switchBottons"></ng-container>
  </ng-container>
</ng-template>

<ng-template #switchBottons>
  <div class="d-flex gap-2 justify-content-end">
    <button
      (click)="listViewType = LIST_VIEW_TYPE.TABLE"
      class="d-flex justify-content-center align-items-center btn btn-sm px-2 shadow-none text-center"
      type="button"
      attr.aria-label="{{ 'WORK_ORDERS.BUTTONS.LIST_ACTION' | translate }}"
      [ngClass]="{
        'button-active': listViewType == LIST_VIEW_TYPE.TABLE
      }"
    >
      <i class="isax isax-clipboard-text"></i>
    </button>
    <button
      (click)="listViewType = LIST_VIEW_TYPE.KANBAN"
      class="d-flex justify-content-center align-items-center btn btn-sm px-2 shadow-none text-center"
      type="button"
      attr.aria-label="{{ 'WORK_ORDERS.BUTTONS.KANBAN' | translate }}"
      [ngClass]="{
        'button-active': listViewType == LIST_VIEW_TYPE.KANBAN
      }"
    >
      <i class="isax isax-monitor"></i>
    </button>
    <button
      (click)="listViewType = LIST_VIEW_TYPE.CALENDAR"
      class="d-flex justify-content-center align-items-center btn btn-sm px-2 shadow-none text-center"
      type="button"
      attr.aria-label="{{ 'WORK_ORDERS.BUTTONS.CALENDAR' | translate }}"
      [ngClass]="{
        'button-active': listViewType == LIST_VIEW_TYPE.CALENDAR
      }"
    >
      <i class="isax isax-calendar-1"></i>
    </button>
  </div>
</ng-template>

<ng-template #filterTemplate>
  <form [formGroup]="form">
    <div class="row d-flex form-group mb-2">
      <div class="col-3 text-end">
        <label for="workOrderType" class="col-form-label"
          ><b>{{ "WORK_ORDERS.FORM.ORDER_TYPE" | translate }}</b></label
        >
      </div>
      <div class="col-md-9">
        <ng-select
          id="workOrderType"
          [multiple]="true"
          formControlName="workOrderType"
        >
          <ng-option *ngFor="let item of workOrderTypeList" [value]="item">
            {{ "WORK_ORDERS.WORK_ORDER_TYPE." + item | translate }}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="row d-flex form-group mb-2">
      <div class="col-3 text-end">
        <label class="col-form-label"
          ><b>{{ "WORK_ORDERS.FORM.ASSET" | translate }}</b></label
        >
      </div>
      <div class="col-md-9">
        <proset-asset-select
          [multiple]="true"
          (assetChange)="assetChange($event)"
          [value]="mainInfo?.asset!"
        >
        </proset-asset-select>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-3 text-end">
        <label class="col-form-label"
          ><b>{{ "WORK_ORDERS.FILTER.NUMBER" | translate }}</b></label
        >
      </div>
      <div class="col-9">
        <div class="d-flex justify-content-between w-100 align-items-center">
          <input
            id="fromCode"
            type="number"
            class="form-control"
            formControlName="fromCode"
          />
          <div class="px-2">
            <b>{{ "FILTER.TO" | translate }}</b>
          </div>
          <input
            id="toCode"
            type="number"
            class="form-control"
            formControlName="toCode"
          />
        </div>
      </div>
      <div class="row">
        <small class="col-md-4"></small>
        <small
          class="form-text text-danger mt-2 col-md-8 d-flex justify-content-end"
          *ngIf="
            form.get('toCode')?.hasError('invalidToCode') &&
            form.get('toCode')?.touched
          "
        >
          {{
            "REQUEST.MESSAGES.FROM_NUMBER_IS_BIGGER_THAN_TO_NUMBER" | translate
          }}
          {{ form.controls["toCode"]?.value }}
          {{ "REQUEST.MESSAGES.BEE" | translate }}
        </small>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-3 text-end">
        <label for="fromDate" class="col-form-label"
          ><b>{{ "WORK_ORDERS.FILTER.START_DATE" | translate }}</b></label
        >
      </div>
      <div class="col-9">
        <div class="d-flex justify-content-between w-100 align-items-center">
          <proset-datepicker
            [dateInitValue]="false"
            id="fromDate"
            formControlName="fromDate"
            [max]="form.get('toDate')?.value!"
          ></proset-datepicker>
          <div class="px-2">
            <b>{{ "FILTER.TO" | translate }}</b>
          </div>
          <proset-datepicker
            [dateInitValue]="false"
            id="toDate"
            formControlName="toDate"
            [min]="form.get('fromDate')?.value!"
          ></proset-datepicker>
        </div>
      </div>
    </div>
    <div class="row d-flex form-group mb-2">
      <div class="col-3 text-end">
        <label for="priority" class="col-form-label"
          ><b>{{ "WORK_ORDERS.FORM.PRIORITY" | translate }}</b></label
        >
      </div>
      <div class="col-md-9">
        <ng-select id="priority" [multiple]="true" formControlName="priority">
          <ng-option *ngFor="let item of priorityItemList" [value]="item">
            {{ "PRIORITY." + item | translate }}
          </ng-option>
        </ng-select>
      </div>
    </div>

    <div class="row d-flex form-group mb-2">
      <div class="col-3 text-end">
        <label class="col-form-label"
          ><b>{{
            "WORK_ORDERS.FORM.EXECUTION_RESPONSIBLE" | translate
          }}</b></label
        >
      </div>
      <div class="col-md-9">
        <proset-person-select
          id="executionManager"
          [userType]="userType.STAFF"
          [multiple]="true"
          [value]="person"
          (personChange)="onExecutionManagerChange($event)"
        ></proset-person-select>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #buttonTemplate>
  <!--  todo: remove [hidden] when "history" will create-->
  <div [hidden]="true">
    <mat-button-toggle-group
      name="fontStyle"
      aria-label="Font Style"
      [hideSingleSelectionIndicator]="true"
    >
      <mat-button-toggle
        *ngFor="let btn of ArchiveButtonList; let i = index"
        (click)="[btn.action(), (activeButton = i)]"
        [class]="
          activeButton === i ? 'btn-blue-color-light-100' : 'btn-whit-color'
        "
        >{{ btn.label | translate }}</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
</ng-template>
