<div class="dialog">
  <div
    mat-dialog-title
    class="dialog_header d-flex justify-content-between align-items-center justify-content-end w-100 p-2"
  >
    <div class="w-50 d-flex justify-content-between align-items-center">
      <h2 class="mat-dialog-title" id="ssss">
        {{ "GENERAL.ASSET_SELECT" | translate }}
      </h2>
    </div>
    <div class="w-50 d-flex justify-content-end align-items-center">
      <button type="button" [mat-dialog-close] class="dialog_close">
        <i class="fa-solid fa-close"></i>
      </button>
    </div>
  </div>
  <hr />
</div>

<mat-dialog-content>
  <div class="row">
    <app-generic-tree
      [multiple]="multiple"
      [treeData]="treeData"
      [selectedIds]="selectedIds"
      (selectionChange)="onSelectionChange($event)"
    >
    </app-generic-tree>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <hr class="w-100" />
  <button mat-button (click)="onCancel()">
    {{ "GENERAL.CANCEL" | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!selectedAssets.length"
    (click)="onConfirm()"
  >
    {{ "GENERAL.CONFIRM" | translate }}
  </button>
</mat-dialog-actions>
