<div class="row border gray_background rounded-3 p-2 upload-container">
  <div class="row mb-4">
    <div class="col-5">
      <span class="fs-6 fw-bolder mx-2">
        {{ "GENERAL.UPLOAD_IMAGE" | translate }}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="dark_color px-1">
      <div class="row pb-3 justify-content-center view-mode">
        <ngx-awesome-uploader
          [fileMaxCount]="10"
          [fileMaxSize]="10"
          [uploadType]="'multi'"
          (validationError)="onValidationError($event)"
          [fileExtensions]="[
            'pdf',
            'jpg',
            'jpeg',
            'png',
            'doc',
            'docx',
            'svg',
            'csv',
            'xls',
            'xlsx'
          ]"
          (uploadSuccess)="onUploadSuccess($event)"
          (removeSuccess)="onRemoveSuccess($event)"
          (fileAdded)="onFileAdded($event)"
          [customValidator]="validator"
          [captions]="captions"
          [accept]="
            '.pdf, .jpg, .jpeg, .png, .doc,.docx, .svg ,.csv,.xls,.xlsx'
          "
          [totalMaxSize]="50"
          dro
        >
        </ngx-awesome-uploader>
      </div>
    </div>
  </div>
</div>
